<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../View/bootstrap-5.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Estimation de décholage</title>
</head>
<body>
<div class="container mt-5">
    <div id="map" style="height: 500px;"></div>
    <br>
    <div class="row">
        <div class="col-md-6 text-center">
            <label for="nb">Nombre de décholage parié par l'équipe 1 :</label>
        </div>
        <div class="col-md-6 text-center">
            <label for="nb2">Nombre de décholage parié par l'équipe 2 :</label>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 text-center">
            <input type="number" id="nb" name="nb" />
        </div>
        <div class="col-md-6 text-center">
            <input type="number" id="nb2" name="nb2" />
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>





<script>

    function addMarker(latlng) {
        var marker = L.marker(latlng).addTo(map);
        markers.push(marker);
        marker.on('click', function () {
            removeMarker(marker);
        });
        updateRoute();
    }

    function updateRoute() {
        if (routingControl) {
            map.removeControl(routingControl);
        }

        if (markers.length >= 2) {
            var waypoints = markers.map(function (marker) {
                return marker.getLatLng();
            });

            routingControl = L.Routing.control({
                waypoints: waypoints,
                routeWhileDragging: true,
            }).addTo(map);
        }
    }

    var markers = [];
    var routingControl; // Pour stocker le contrôle d'itinéraire

    let latitude = 50.3965;
    let longitude = 3.6695;
    let map = L.map('map').setView([latitude, longitude], 13);
    map.dragging.disable();

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);

    function getData(){
        var data = document.getElementById('data');
        data = JSON.parse(data.outerText);
        return Array.from(data);
    }

    function loadParcours(){
        var data = getData();

        for (var i = 1;i<data.length;i++){
            console.log(i);
            var lat = data[i]["latitude"];
            var lng = data[i]["longitude"];
            console.log(lat);
            console.log(lng);
            addMarker([lat, lng]);
        }
    }
    loadParcours();

</script>

</body>
</html>