<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>

<body>
<h1>
    Inscription
</h1>

<form method="POST">
    <label for="lastname">Nom :</label><br>
    <input type="text" id="lastname" name="lastname"><br>
    <label for="firstname">Prénom :</label><br>
    <input type="text" id="firstname" name="firstname"><br>
    <label for="mail">Adresse mail :</label><br>
    <input type="text" id="mail" name="mail"><br>
    <label for="password">Mot de passe :</label><br>
    <input type="text" id="password" name="password"><br>
    <label for="verif">Vérification mot de passe :</label><br>
    <input type="text" id="verif" name="verif"><br>
    <input type="radio" id="player" name="usertype">
    <label for="player">Joueur</label>
    <input type="radio" id="admin" name="usertype">
    <label for="admin">Administrateur</label>
    <input type="radio" id="both" name="usertype">
    <label for="both">Les deux</label><br>
    <input type="submit" name="button">
</form>

</body>
</html>